body {
    background-color: #282828;
    color:#e6e6e6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.col-b {
    display: flex;
    flex-direction: column;
}


.navigation {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type:none;
    
}
.nav-link-logo {
    align-content: center;
    display: inline-block;
    margin-inline: 10px;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.2s; 
    height: 80;
    align-content: center;
    font-size: 30px;
}



a.nav-link-logo:hover {
    color: #6d83b4;/* #1447b3 */
}

a.nav-link-logo:hover .logo-black {
    color:black;
}
a.nav-link-logo:hover .logo-orange {
    color:orangered;
}
.nav-item {
    display:  flex;
    flex-direction: row;
}

a.button-nav-link {
    align-content: center;
    display: inline-block;
    margin-inline: 10px;
    padding: 10px 40px;
    background-color: #222222;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

a.button-nav-link:hover {
    background-color: #6d83b4;/* #1447b3 */
}


.content-row {
    display: flex;
    flex-direction: row;
}

.content-col {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.content-col-1 {
    width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}

.content-col-2 {
    width: 30%;
}

.quote-content-block-col {
    display: flex;
    flex-direction: column;
    width: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    background-color: #534a44;
}

.quote-content {
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    font-weight: 20;
    margin-bottom: 1px;
    
}

.author-content {
    margin-bottom: 1px;
}

.tags-content {
    padding: 0px;
}

.tag-list {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
    margin-block-start: 5px;
    margin-block-end: 5px;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

a.button-link {
    align-content: center;
    display: inline-block;
    margin-inline: 4px;
    padding: 7px 4px ;
    background-color: #222222;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.custom-button {
    align-content: center;
    display: inline-block;
    margin-inline: 4px;
    padding: 17px 40px ;
    background-color: #222222;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.custom-button:hover {
    background-color: #6d83b4;/* #1447b3 */
}

a.button-link:hover {
    background-color: #6d83b4;/* #1447b3 */
}


.custom-textinput {
    resize: none;
    border: 1px solid black;   
    font-size: 16px;
    background-color: #444444;
    color:#e6e6e6;
    width: 400px;
    height: 40px;
    font-family: cursive;
    font-size: 30px;
    transition: background-color 0.2s;
    
}
.custom-textinput:focus {
    outline: none;
    border: 1px solid black;
    background-color: #737373;
    width: 400px;
    height: 40px;
}



    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus
    {
    border: 1px solid black;
    -webkit-text-fill-color: #e6e6e6;
    -webkit-box-shadow: 0 0 0px 1000px #444444 inset;
    transition: background-color 5000s ease-in-out 0s;
    }

.login-form-controll {
    display: flex;
    flex-direction: column; 
    width: 710px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #534a44;
    
       
}

.register-form-controll {
    display: flex;
    flex-direction: column; 
    width: 710px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #534a44;
}

.login-row  {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    padding-inline-start: 0px;
}

.login-row li {
    width: 300px;
    align-content: center;
    font-size: 30px;
    
}
.password-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type:none;
}

.password-row li {
    width: 300px;
    align-content: center;
    font-size: 30px;
    
}

.login-form-button-row {
    display: flex;
    flex-direction: row-reverse;
}

.form-name-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}


.add-quote-form-controll {
    display: flex;
    flex-direction: column; 
    width: 1200px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #534a44;
    
}

.quote-content-col {
    display: flex;
    flex-direction: column;
    padding-inline-start: 0px;
    list-style-type:none;
    width: 1000px;
    margin: 0 auto;
}

.author-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;

}

.author-content-row li {
    width: 1000px;
}

.tag-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items:flex-start;


}

.tag-content-row li {
    width: 1000px;
}
.custom-textarea{
    resize: none;
    border: 1px solid black;
    height: 250px;
    width: 1000px;  
    margin: 0 auto; 
    font-size: 25px;
    background-color: #444444;
    color:#e6e6e6;
    transition: background-color 0.2s ;    
}

.custom-textarea:focus {
    outline: none;
    background-color: #737373;
}

.custom-selectmultiple {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #444444;
    border: 1px solid black;
    width: 700px;
    height: 250px;
    font-size: 30px;
    font-family: cursive;
    color: #e6e6e6;
    transition: background-color 0.1s;
}

.custom-selectmultiple:focus {
    background-color: #737373;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #444444;
    width: 700px;
    height: 50px;
    font-size: 30px;
    font-family: cursive;
    color: #e6e6e6;
    transition: background-color 0.05s;
    border: 1px solid black;   
}

.custom-select:focus {
    outline: none;
    background-color: #737373;

}

.add-author-form-controll {
    display: flex;
    flex-direction: column; 
    width: 1200px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #534a44;
}

.add-author-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    margin-inline-start: 1px;
    
    
    
    align-items: center;
}
.add-author-content-row li {
    width: 150px;
}
.born-date-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    margin-inline-start: 1px;
    
    align-items: center;
}
.born-date-content-row li {
    width: 150px;
}

.born-location-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-inline-start: 1px;
}
.born-location-content-row li {
    width: 150px;
}

.description-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    align-items: flex-start;  
    margin-inline-start: 1px;  
}

.description-content-row li {
    width: 150px;
}

.custom-date-input {
    background-color: #444444;
    border: 1px solid black;
    color: #e6e6e6;
    width: 405px;
    height: 70px;
    font-size: 30px;
    font-family: cursive;
    transition: background-color 0.1s;
}

.custom-date-input:focus {
    outline: none;
    background-color: #737373;
}

.add-tag-form-controll {
    display: flex;
    flex-direction: column; 
    width: 1200px;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #534a44;
}

.add-tag-content-col {
    display: flex;
    flex-direction: column  ;
}

.add-tag-content-row {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type: none;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    margin-inline-start: 1px;
}

.add-tag-content-row li {
    width: 150px;
}

