body {
    background-color: #282828;
    color:#e6e6e6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.col-b {
    display: flex;
    flex-direction: column;
}


.navigation {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    list-style-type:none;
    
}
.nav-link-logo {
    height: 80;
    align-content: center;
    font-size: 30px;
}

.nav-item {
    display:  flex;
    flex-direction: row;
    
}

a.button-link {
    align-content: center;
    display: inline-block;
    margin-inline: 10px;
    padding: 10px 40px;
    background-color: #222222;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

a.button-link:hover {
    background-color: #1447b3;
}
