{% extends "quoteapp/base1.html" %}

{% block content %}
<form method="POST" action="{% url 'quoteapp:addauthor' %}" class="add-author-form-controll" >
    {% csrf_token %}    
    <div class="add-author-content-col">
        <div><span class="form-name-text">Add Author</span></div>
        <br>
        <div class="add-author-content-col">
            <ul class="add-author-content-row">
                <li>Enter author name:</li>
                <li>{{form.name}}</li>
            </ul>
            <span>{{form.errors.name}}</span>
            <br>
            <ul class="born-date-content-row">
                <li>Enter born date:</li>
                <li>{{form.born_date}}</li>
                
            </ul>
            <span>{{form.errors.born_date}}</span>
            <br>
            <ul class="born-location-content-row">
                <li>Enter born location:</li>
                <li>{{form.born_location}}</li>
            </ul>
            <span>{{form.errors.born_location}}</span>
            <br>
            <ul class="description-content-row">
                <li>Description:</li>
                <li>{{form.description}}</li>
            </ul>
            <span>{{form.errors.description}}</span>
        </div>
        
        <div>
            <button type="submit" class="custom-button">Add Author</button>
            <button type="reset" class="custom-button">Reset</button>
        </div>
</form>
{% endblock %}