{% extends "quoteapp/base.html" %}
{% load extract_tags %}

{% block content%}

            {% for quote in quotes %}
            <div class="quote-content-block-col">
                <div class="quote-content">
                    <label>"{{quote.quote}}"</label>
                </div>             
                <div class="author-content">
                    Author:<a href="{% url 'quoteapp:author_detail' quote.author.id %}" class="button-link">
                         {{ quote.author }}
                    </a>
                </div>
                    <div class="tags-content">
                        <ul class="tag-list">
                            <li>Tags:</li>
                            {% for tag in quote.tags|tags %}
                            <li class="tag-item">
                                <a href="{% url 'quoteapp:quotes_by_tag' tag.id %}" class="button-link">  {{tag.tag}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    
                </div>        
            </div>    
            {% endfor %}
            
   {% endblock %}
   {% block rcontent%}
            <div class="top-tags-content">
                <span class="form-name-text">Top Tags</span>
                <ul class="top-tags-list">
                    {% for tag in top_tags %}
                    <li><a href="{% url 'quoteapp:quotes_by_tag' tag.id %}" class="button-link">  {{tag.tag}}</a></li>
                    
                    {%endfor%}
                </ul>
                
            </div>
   {% endblock %}