{% extends "quoteapp/base.html" %}
{% load extract_tags %}

{% block content%}

            {% for quote in quotes %}
            <div class="quote-info">
                <div class="quote">
                    <label>"{{quote.quote}}"</label>
                </div>
                <div class="author-block">
                    <div class="author">
                        <a href="{% url 'quoteapp:author_detail' quote.author.id %}" class="button-link">
                            By: {{ quote.author }}
                        </a>
                    </div>
                </div>
                    <div class="tags">
                    {% for tag in quote.tags|tags %}
                    <div class="tag">
                    <a href="{% url 'quoteapp:quotes_by_tag' tag.id %}" class="button-link">  {{tag.tag}}</a>
                    </div>
                    
                    {% endfor %}
                </div>        
            </div>    
            {% endfor %}
            
   {% endblock %}
