{% load extract_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'quoteapp/style.css' %}">
        <p>Quotes</p>
    </head>
    <body>
        
        <main class="container">
            <nav class="custom-navigation">
                <div class="menu">
                    <button class="custom-button">Login</button>
                    <button class="custom-button">SingUp</button>
                </div>
            </nav>
            {% for quote in quotes %}
            <div class="quote-info">
                <div class="quote">
                    <label>"{{quote.quote}}"</label>
                </div>
                <div class="author-block">
                    <div class="author">
                        <a href="{% url 'quoteapp:author_detail' quote.author.id %}" role="button">
                            By: {{ quote.author }}
                        </a>
                    </div>
                </div>
                    <div class="tags">
                    {% for tag in quote.tags|tags %}
                    <div class="tag">
                    {{tag.tag}}
                    </div>
                    {% endfor %}
                </div>        
            </div>    
            {% endfor %}
            
        </main>
    </body>
</html>