{% extends 'quoteapp/base1.html' %}


{% block content %}

    {% if messages %}
    <div>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{message.tags}}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{% url 'users:login' %}" class="login-form-controll">
        {% csrf_token %}
        <div class="login-form-content-col">
            <ul class="login-row">
                <li>Username:</li>
                <li>{{form.username}}</li>
            </ul>
            <ul class="password-row">
                <li>Password:</li>
                <li>{{form.password}}</li>
            </ul>
        </div>
        <div class="login-form-button-row">
            <button type="Submit" class="custom-button">Login</button>
            <button type="reset" class="custom-button">Reset</button>
        </div>
    </form>

{% endblock %}